# macOS
.DS_Store

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python Caches
__pycache__/
*.pyc

# Environment variables
.env
.env.local

# Virtual Environment
.venv/

# Datasets
notebooks/datasets/

# Result/Output Folders
scripts/results/
scripts/results2/
results_topview/
results2/
plant_analyze/results_topview/
scripts/results_multi_topview/
results_sideview/
results_sideview_final/

*.jpg
*.png
*.json
*.csv
