.venv/
notebooks/datasets/
scripts/results/
scripts/results2/
results_topview/
results2/
plant_analyze/results_topview/
plant_analyze/__pycache__/
scripts/results_multi_topview/
results_sideview/
results_sideview_final/
results_topview/